﻿@model AFWFZZ_HW.Models.Person
@{
    ViewBag.Title = "CalorieResult";
}

<h2>Eredmény</h2>

<p><label for="Name">Sportoló neve: </label>   @Model.Name</p>

<p><label for="Weight">Sportoló tömege: </label>   @Model.Weight</p>

<p><label for="LengthOfExercise">Gyakorlat hossza(perc): </label>   @Model.LengthOfExercise</p>

<p><label for="Calorie">Elégetett kalória: </label>   @Model.BurntCalories</p>

