﻿
@{
    ViewBag.Title = "Person";
}

<h2>Give me datas</h2>
<form method="POST" action="/HomeWork/Calorie">
    <label for="Name">Sportoló neve: </label>
    <input type="text" id="Name" name="Name" /><br>
    <label for="Weight">Sportoló tömege: </label>
    <input type="text" id="Weight" name="Weight" /><br>
    <label for="Gyakorlat">Gyakorlat</label>
    <select id="Gyakorlat" name="Gyakorlat">
        <option value="Running">Futás</option>
        <option value="Yoga">Yoga</option>
        <option value="Pilates">Pilátesz</option>
        <option value="Hiking">Síelés</option>
        <option value="Swimming">Úszás</option>
        <option value="Bicycle">Biciklizés</option>
    </select><br>
    <label for="LengthOfExercise">Gyakorlat hossza(perc): </label>
    <input type="text" name="LengthOfExercise" /><br>
    <input type="submit" value="Kiszámol">
</form>

