﻿@model VodkaDelivery.Web.Models.Vodka

<h2>Edit one vodka</h2>

@using (Html.BeginForm("Edit", "Vodka"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ID)
    @Html.Hidden("editAction", ViewData["editAction"].ToString())

    <div class="editor-label">@Html.LabelFor(m => m.Company_ID)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Company_ID)</div>

    <div class="editor-label">@Html.LabelFor(m => m.VodkaName)</div>
    <div class="editor-field">@Html.EditorFor(m => m.VodkaName)</div>

    <div class="editor-label">@Html.LabelFor(m => m.NumberOfDestills)</div>
    <div class="editor-field">@Html.EditorFor(m => m.NumberOfDestills)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Price)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Price)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Volume)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Volume)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Flavoured)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Flavoured)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Material)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Material)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Qualification)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Qualification)</div>

    <input type="submit" value="SEND" />
}
