﻿@model VodkaDelivery.Web.Models.VodkasViewModel
@{
    ViewBag.Title = "Vodka Index";
}

<h2>Vodka Index</h2>

<p style="color:red; font-weight: bold">@TempData["editResult"]</p>

@Html.Partial("VodkaEdit", Model.EditedVodka)

@Html.Partial("VodkaList", Model.ListOfVodkas)
