﻿@model VodkaDelivery.Web.Models.Vodka
@{
    ViewBag.Title = "VordkaDetails";
}

<h2>Datasheet of one car</h2>
@Html.ActionLink("Bactk to the list", "Index");

<table border="1">
    <tr>
        <td>The Id for the vodka</td>
        <td>@Model.ID</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Company_ID)</td>
        <td>@Html.DisplayFor(m => m.Company_ID)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.VodkaName)</td>
        <td>@Html.DisplayFor(m => m.VodkaName)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.NumberOfDestills)</td>
        <td>@Html.DisplayFor(m => m.NumberOfDestills)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Price)</td>
        <td>@Html.DisplayFor(m => m.Price)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Volume)</td>
        <td>@Html.DisplayFor(m => m.Volume)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Flavoured)</td>
        <td>@Html.DisplayFor(m => m.Flavoured)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Material)</td>
        <td>@Html.DisplayFor(m => m.Material)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Qualification)</td>
        <td>@Html.DisplayFor(m => m.Qualification)</td>
    </tr>
</table>
