﻿@model IEnumerable<VodkaDelivery.Web.Models.Vodka>

<h2>List of Vodkas</h2>
@if (Model.Count() == 0)
{
    <p>No data in the database</p>
}
else
{
    <table border="1">
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().Company_ID)</th>
            <th>@Html.DisplayNameFor(m => m.First().VodkaName)</th>
            <th>@Html.DisplayNameFor(m => m.First().NumberOfDestills)</th>
            <th>@Html.DisplayNameFor(m => m.First().Price)</th>
            <th>@Html.DisplayNameFor(m => m.First().Volume)</th>
            <th>@Html.DisplayNameFor(m => m.First().Flavoured)</th>
            <th>@Html.DisplayNameFor(m => m.First().Material)</th>
            <th>@Html.DisplayNameFor(m => m.First().Qualification)</th>
            <th>DataSheet</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.Company_ID)</td>
                <td>@Html.DisplayFor(m => item.VodkaName)</td>
                <td>@Html.DisplayFor(m => item.NumberOfDestills)</td>
                <td>@Html.DisplayFor(m => item.Price)</td>
                <td>@Html.DisplayFor(m => item.Volume)</td>
                <td>@Html.DisplayFor(m => item.Flavoured)</td>
                <td>@Html.DisplayFor(m => item.Material)</td>
                <td>@Html.DisplayFor(m => item.Qualification)</td>
                <td>@Html.ActionLink("[SHOW]", "Details", new { id = item.ID})</td>
                <td>@Html.ActionLink("[DEL]", "Remove", new { id = item.ID })</td>
                <td>@Html.ActionLink("[EDIT]", "Edit", new { id = item.ID })</td>
            </tr>
        }
    </table>
}
